<h1>Our Projects</h1>
<h3>My favorite projects are:</h3>
<h4>LoveBug: A dating website created in a group in WEBD class.</h4>
<h4>BookStore: A database for the book store or a library.</h4>
<h4>The Defects: As a tester, finding the defects in the website made by our class group.</h4>
